@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: bg-zinc-900; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff4057; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(220 38 38); 
    transition: 0,5s;
  }

  .wrapper{
    -webkit-filter: blur(8px);
    -ms-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    filter: blur(8px);
} 