<?php

class DbCon
{

    protected function connect()
    {
        try{
                $username  = "";
                $password = "";
                $dbh = new PDO('mysql:host=localhost;dbname=athtech_forum',$username,$password);
                return $dbh;
        }catch(PDOException $e)
        {
            print "Error!: ".$e->getMessage()."<br/>";
            die();
        }
    }

}

?>